#################################
# Repository owners
#################################
# TODO Replace them with the appropriate configration.
/ @dbt_admins


#################################
# GCP project based assignments
#################################

# project-a-{dev,prod}
# TODO Replace them with the appropriate configration.
/models/project_a @data_managers
/snapshots/project_a @data_managers